<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav>
        <div class="bg-black h-full w-full">
            <div class="font-sans bg-black h-24 flex justify-between items-center">
                <div class="logo w-1/2 text-green-600 text-[34px] font-bold flex justify-center">
                    <a href="/"><img src="images/logo.e795bce8.svg" alt="Brand Logo"></a>
                </div>
                <div class=" text-slate-100 text w-1/2 flex justify-between">
                    <a href="/" class="hover:underline hover:text-green-500"><i
                            class="fa-solid fa-house pr-2"></i>Home</a>
                    <a href="/freelancer" class="hover:underline hover:text-green-500"><i
                            class="fa-solid fa-laptop-code  pr-2"></i>Freelancer</a>
                    <a href="/posted_work" class="hover:underline hover:text-green-500"><i
                            class="fa-solid fa-briefcase  pr-2"></i>Post work</a>
                    <a href="/about-us" class="hover:underline hover:text-green-500"><i
                            class="fa-solid fa-user-group  pr-2"></i>About us</a>
                </div>
                <div class="flex justify-end items-center w-1/2">
                    <div
                        class="login text-[20px] text-black text-center h-10 w-28 mr-10 rounded-md bg-white border font-medium flex items-center justify-center hover:text-black hover:bg-green-500 hover:scale-1">

                        <a href="/login">Login<i
                                class="fa-solid fa-lock pr-3 text-1xl rounded-full w-8 h-8 border p-1.5 ml-2 text-black"></i></a>
                    </div>
                    <div class="profile w-12 h-12 mr-4 border rounded-full">
                        <img src="images/coder.png" alt="coder" class="rounded-full">
                    </div>
                </div>
            </div>
            <!-- Second Part -->
            <div class="text-area w-full h-[36rem]  rounded-sm bg-black flex">
                <div class="header-txt w-[32rem] text-green-500  text-7xl pt-5 ml-20">
                    <h1 class="mt-6 font-medium"><span
                            class="text-white decoration-2 underline underline-offset-2 ">Hire</span> the
                        best <span class="text-white decoration-2 underline underline-offset-2">Freelancer</span> for
                        any job
                    </h1>
                    <div class="features text-white text-[22px] leading-loose  mt-[4rem]">
                        <li>World's largest freelance marketplace</LI>
                        <li>Any job you can possibly think of</li>
                        <li> Save up to 90% & get quotes for free</li>
                        <li> Pay only when you're 100% happy</li>
                    </div>
                </div>

                <div class="w-3/4  h-[36rem] flex items-center justify-center">
                    <img src="/images/Coding Pages.avif" alt="" class="h-3/4 w-5/6 rounded-xl ">
                </div>
            </div>

            <!-- animation part -->

            <div class="animate h-[47rem] w-full m-auto bg-black flex align-middle">
                <div class=" m-auto h-5/6 w-5/6 rounded-3xl ">
                    <video autoplay loop muted playsinline class="rounded-3xl brightness-125"
                        style="width: 100%; height: 100%; object-fit: cover; position: relative; z-index: 1;">
                        <source src="/videos/Lazer.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>

                </div>
            </div>


            <!-- Work Sample  -->
            <div class=" w-full bg-black mb-4">
                <div class="text-4xl w-full text-white pl-10 leading-normal">
                    <h1>Make it real with <span class="text-green-500 text underline">FreeLancer</span>
                </div>
                <!-- Single Image Container -->
                <div class="flex-containner h-[35rem] flex items-center justify-center">
                    <div class="main-img w-[40%] h-5/6 ml-3 rounded-md relative group hover:z-50">
                        <img src="images/imageWork.webp" alt="sample1"
                            class="w-full h-full object-cover rounded-md transition-all duration-300 ease-in-out group-hover:scale-105 group-hover:rounded-lg">
                        <div
                            class="overlay absolute bottom-0 right-0 bg-black bg-opacity-50 text-white text-sm p-2 rounded-md opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100">
                            NIST got a First Responder Dashboard for $1,000,000 USD
                        </div>
                    </div>
                    <!-- Multi-image Container -->
                    <div class="main-img w-[55%] h-5/6 ml-2 mr-3 rounded-md flex flex-wrap gap-6 overflow-hidden">
                        <div class="w-[calc(50%-12px)] h-[calc(50%-12px)] relative group">
                            <img src="images/sample1.webp" alt="sample1"
                                class="w-full h-full object-cover rounded-md transition-all duration-300 ease-in-out group-hover:scale-110 group-hover:rounded-lg">
                            <div
                                class="overlay absolute bottom-0 right-0 bg-black bg-opacity-50 text-white text-sm p-2 rounded-md opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100">
                                Poster design - done for $250 USD
                            </div>
                        </div>
                        <div class="w-[calc(50%-12px)] h-[calc(50%-12px)] relative group">
                            <img src="images/sample2.webp" alt="sample2"
                                class="w-full h-full object-cover rounded-md transition-all duration-300 ease-in-out group-hover:scale-110 group-hover:rounded-lg">
                            <div
                                class="overlay absolute bottom-0 right-0 bg-black bg-opacity-50 text-white text-sm p-2 rounded-md opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100">
                                Poster design - done for $250 USD
                            </div>
                        </div>
                        <div class="w-[calc(50%-12px)] h-[calc(50%-12px)] relative group">
                            <img src="images/sample3.webp" alt="sample3"
                                class="w-full h-full object-cover rounded-md transition-all duration-300 ease-in-out group-hover:scale-110 group-hover:rounded-lg">
                            <div
                                class="overlay absolute bottom-0 right-0 bg-black bg-opacity-50 text-white text-sm p-2 rounded-md opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100">
                                Poster design - done for $250 USD
                            </div>
                        </div>
                        <div class="w-[calc(50%-12px)] h-[calc(50%-12px)] relative group">
                            <img src="images/sample4.webp" alt="sample4"
                                class="w-full h-full object-cover rounded-md transition-all duration-300 ease-in-out group-hover:scale-110 group-hover:rounded-lg">
                            <div
                                class="overlay absolute bottom-0 right-0 bg-black bg-opacity-50 text-white text-sm p-2 rounded-md opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100">
                                Poster design - done for $250 USD
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Last -->
            <div>
                <div class="header text-center text-black bg-white text-2xl w-full m-auto mt-4">
                    <h1 class="w-3/4 m-auto pt-8"><b class="text-4xl">Our Goal</b> <br>
                        Create a user-friendly hub for freelancers to connect with potential clients and grow their
                        business/career.</h1>
                </div>

                <div class="imagesSection bg-white w-full h-[30rem] flex items-center justify-center">
                    <div class="w-5/6 bg-black h-5/6 rounded-3xl flex text-white border-2 relative">
                        <div class="w-1/2">
                            <h1 class="text-6xl w-28 mt-10 ml-12">Black Freelancer</h1>
                            <p class="mt-5 ml-12">Black Freelancer is a digital space where diverse freelancers can
                                find
                                work opportunities and connect with clients who are looking for their expertise. It
                                aims
                                to
                                provide a safe and supportive community for freelancers to thrive and succeed in the
                                gig
                                economy.</p>
                        </div>
                        <img src="images/bf-card.webp" alt="" class="h-[24rem] relative mt-3">
                        <a href="/freelancer"
                            class="bg-white text-black h-12 w-24 absolute bottom-16 right-14 rounded-lg font-medium pt-3 pl-1">Get
                            Start<i class="fa-solid fa-arrow-right-long ml-1"></i></a>
                    </div>
                </div>
                <div class="imagesSection bg-white w-full h-[30rem]  flex items-center justify-center">
                    <div class="w-5/6 bg-amber-700 h-5/6 rounded-3xl flex text-black border-2 relative">
                        <div class="w-1/2">
                            <h1 class="text-6xl w-28 mt-10 ml-12">Hispanic Freelancer</h1>
                            <p class="mt-5 ml-12">Hispanic Freelancer platform is a website aimed at connecting Hispanic
                                freelancers with clients in need of their services. It offers a variety of job
                                opportunities
                                and allows freelancers to showcase their skills and experience.</p>
                        </div>
                        <img src="images/lf-card.webp" alt="" class="h-[24rem] relative mt-3">
                        <a href="/freelancer"
                            class="bg-white text-black h-12 w-24 absolute bottom-16 right-14 rounded-lg font-medium pt-3 pl-1">Get
                            Start<i class="fa-solid fa-arrow-right-long ml-1"></i></a>
                    </div>
                </div>
                <div class="imagesSection bg-white w-full h-[30rem]  flex items-center justify-center">
                    <div class="w-5/6 bg-blue-400 h-5/6 rounded-3xl flex text-white border-2 relative">
                        <div class="w-1/2">
                            <h1 class="text-6xl w-28 mt-10 ml-12">Womxn Freelancer</h1>
                            <p class="mt-5 ml-12">Womxn freelancer platform is an online platform that connects
                                freelancers with businesses seeking their services. It provides a safe and supportive
                                community for women to find work and build their careers. The platform offers a range of
                                services, including project management tools, payment processing, and dispute
                                resolution.</p>
                        </div>
                        <img src="images/wf-card.webp" alt="" class="h-[24rem] relative mt-3">
                        <a href="/freelancer"
                            class="bg-white text-black h-12 w-24 absolute bottom-16 right-14 rounded-lg font-medium pt-3 pl-1">Get
                            Start<i class="fa-solid fa-arrow-right-long ml-1"></i></a>
                    </div>
                </div>
            </div>

            <!-- cards -->
            <!-- <div class="Services w-full h-96 bg-white  relative  mb-5">
                <h1 class="text-3xl text-black pt-5 ml-4 mb-4">Popular Services</h1>
                <div class="popular-cards flex overflow-x-auto items-center gap-4 px-4 w-full justify-evenly ml-2">
                    <div
                        class="card h-72 w-68 flex-shrink-0 bg-green-500 rounded-3xl shadow flex text-white text-lg font-bold pb-4">
                        <div class="components mb-4">
                            <p class="ml-3 mt-3">Website Development</p>
                            <img src="images/website-development.webp" alt="web image"
                                class="h-4/5 w-5/6 m-auto mt-5 rounded-3xl">
                        </div>
                    </div>
                    <div
                        class="card h-72 w-68 flex-shrink-0 bg-green-500 rounded-3xl shadow flex text-white text-lg font-bold pb-4">
                        <div class="components  mb-4">
                            <p class="ml-3 mt-3">Architecture design</p>
                            <img src="images/architecture-design.webp" alt="web image"
                                class="h-4/5 w-5/6 m-auto mt-5 rounded-3xl">
                        </div>
                    </div>
                    <div
                        class="card h-72 w-68  flex-shrink-0 bg-green-500 rounded-3xl shadow flex text-white text-lg font-bold pb-4">
                        <div class="components  mb-4">
                            <p class="ml-3 mt-3">data-science</p>
                            <img src="images/data-science.webp" alt="web image"
                                class="h-4/5 w-5/6 m-auto mt-5 rounded-3xl">
                        </div>
                    </div>
                    <div
                        class="card h-72 w-68  flex-shrink-0 bg-green-500 rounded-3xl shadow flex text-white text-lg font-bold pb-4">
                        <div class="components  mb-4">
                            <p class="ml-3 mt-3">Logo design</p>
                            <img src="images/logo design.webp" alt="web image"
                                class="h-4/5 w-5/6 m-auto mt-5 rounded-3xl">
                        </div>
                    </div>
                    <div
                        class="card h-72 w-68  flex-shrink-0 bg-green-500 rounded-3xl shadow flex text-white text-lg font-bold pb-4">
                        <div class="components  mb-4">
                            <p class="ml-3 mt-3">SEO</p>
                            <img src="images/seo.webp" alt="web image" class="h-4/5 w-5/6 m-auto mt-5 rounded-3xl">
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Third Part -->
            <div class="allwork w-full h-[36rem] bg-black mt-10 flex">
                <div class="line ml-10 h-full border-l-4 border-green-500">Hello</div>
                <div class="text text-white w-1/2 text-6xl mt-10 ml-2 leading-snug">
                    <h2>Get work done in <span
                            class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-green-500 relative inline-block ">
                            <span class="relative text-white">over 2700</span>
                        </span> different categories
                    </h2>
                </div>
                <div class="skills h-full w-4/5 text-1xl text-white text-center grid grid-cols-4 gap-4">
                    <div>
                        <h1 class="hover-effect">Website Design</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Mobile Apps</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Android Apps</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">iPhone Apps</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Software Architecture</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Graphic Design</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Logo Design</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Public Relations</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Logistics</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Proofreading</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Translation</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Research</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Research Writing</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Article Writing</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Web Scraping</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">HTML</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">CSS</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">HTML 5</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Javascript</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Data Processing</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Python</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Wordpress</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Web Search</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Finance</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Legal</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Linux</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Manufacturing</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Data Entry</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Content Writing</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Marketing</h1>
                    </div>
                    <div>
                        <h1 class="hover-effect">Excel</h1>
                    </div>

                </div>

            </div>


            


            <!-- Fourth Part -->


            <!-- Work Sample  -->
            <div class="flex-container h-[35rem] w-full bg-black flex items-center justify-center mt-10">
            <!-- Single Image Container !-->
            <!-- Multi-image Container !-->
            <div class="main-img w-[55%] h-5/6 ml-2 mr-3 rounded-md flex flex-wrap gap-6 overflow-hidden">
                    <div class="w-[calc(50%-12px)] h-[calc(50%-12px)] relative group">
                        <img src="images/sample2.1.webp" alt="sample1"
                            class="w-full h-full object-cover rounded-md transition-all duration-300 ease-in-out group-hover:scale-110 group-hover:rounded-lg">
                        <div
                            class="overlay absolute bottom-0 right-0 bg-black bg-opacity-50 text-white text-sm p-2 rounded-md opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100">
                            Poster design - done for $250 USD
                        </div>
                    </div>
                    <div class="w-[calc(50%-12px)] h-[calc(50%-12px)] relative group">
                        <img src="images/sample2.2.webp" alt="sample2"
                            class="w-full h-full object-cover rounded-md transition-all duration-300 ease-in-out group-hover:scale-110 group-hover:rounded-lg">
                        <div
                            class="overlay absolute bottom-0 right-0 bg-black bg-opacity-50 text-white text-sm p-2 rounded-md opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100">
                            This landing page was designed for 100 EUR
                        </div>
                    </div>
                    <div class="w-[calc(50%-12px)] h-[calc(50%-12px)] relative group">
                        <img src="images/sample2.5.webp" alt="sample3"
                            class="w-full h-full object-cover rounded-md transition-all duration-300 ease-in-out group-hover:scale-110 group-hover:rounded-lg">
                        <div
                            class="overlay absolute bottom-0 right-0 bg-black bg-opacity-50 text-white text-sm p-2 rounded-md opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100">
                            Detailed 3D watches - modelled for $150 USD
                        </div>
                    </div>
                    <div class="w-[calc(50%-12px)] h-[calc(50%-12px)] relative group">
                        <img src="images/sample2.4.webp" alt="sample4"
                            class="w-full h-full object-cover rounded-md transition-all duration-300 ease-in-out group-hover:scale-110 group-hover:rounded-lg">
                        <div
                            class="overlay absolute bottom-0 right-0 bg-black bg-opacity-50 text-white text-sm p-2 rounded-md opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100">
                            Detailed 3D watches - modelled for $150 USD
                        </div>
                    </div>
                </div>
                <div class="main-img w-[40%] h-5/6 ml-3 rounded-md relative group hover:z-50">
                    <img src="images/mainsample2.webp" alt="sample1"
                        class="w-full h-full object-cover rounded-md transition-all duration-300 ease-in-out group-hover:scale-105 group-hover:rounded-lg">
                    <div
                        class="overlay absolute bottom-0 right-0 bg-black bg-opacity-50 text-white text-sm p-2 rounded-md opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100">
                        Creation of 3D animation and video - done for $5000 USD
                    </div>
                </div>
            </div>

            <div class="reviews h-[25rem] w-full bg-black  ">
                <div class="m-auto text-3xl text-white text-center pt-6">
                    <h1 class="font-bold">Client Testimonials</h1>
                    <p class="text-xl text-green-500 pt-3">What my client say about working with me </p>
                </div>
                <div class="w-5/6  h-4/5 flex justify-evenly items-center m-auto ">
                    <div class="card1 bg-black w-80 h-[14rem] rounded-lg hover:scale-105 border-2">
                        <div class="stars text-green-500 text-3xl ml-4 mt-7 flex">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p class="text-white ml-4 mt-5">Exception work quality and great communictaion throught the
                            project.</p>
                        <div class="user text-white flex items-center mt-3 ml-4 text-md">
                            <i class="fa-solid fa-user-tie mr-4 text-3xl text-green-500"></i>
                            <div>
                                <h2 class="font-bold text-2xl">Aniket Adhav</h2>
                                <p class="text-green-500">CEO, TechStart</p>
                            </div>
                        </div>
                    </div>
                    <div class="card1 bg-black w-80 h-[14rem] rounded-lg hover:scale-105  border-2">
                        <div class="stars text-green-500 text-3xl ml-4 mt-7 flex">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p class="text-white ml-4 mt-5">Delivered the project ahead of schedule with outstanding
                            attention to details .</p>
                        <div class="user text-white flex items-center mt-3 ml-4 text-md">
                            <i class="fa-solid fa-user-tie mr-4 text-3xl text-green-500"></i>
                            <div>
                                <h2 class="font-bold text-2xl">Om Darade</h2>
                                <p class="text-green-500">CEO, TechStart</p>
                            </div>
                        </div>
                    </div>
                    <div class="card1 bg-black w-80 h-[14rem] rounded-lg hover:scale-105  border-2">
                        <div class="stars text-green-500 text-3xl ml-4 mt-7 flex">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p class="text-white ml-4 mt-5">Exception work quality and great communictaion throught the
                            project.</p>
                        <div class="user text-white flex items-center mt-3 ml-4 text-md">
                            <i class="fa-solid fa-user-tie mr-4 text-3xl text-green-500"></i>
                            <div>
                                <h2 class="font-bold text-2xl">Ayush Jadhav</h2>
                                <p class="text-green-500">CEO, TechStart</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-black h-[20rem] w-full flex items-center justify-center">
                <div class="m-auto w-4/5 h-3/4  flex justify-evenly items-center ">
                    <div class="icon1 w-72 h-2/3 bg-black text-white text-center text-3xl rounded-lg border-green-500 border-2 ">
                        <i class="fa-solid fa-briefcase pt-2 text-green-500 text-4xl"></i>
                        <h2 class="pt-4 text-4xl font-bold">50+</h2>
                        <p class="pt-4 text-xl">Project Completed</p>
                    </div>
                    <div class="icon1 w-72 h-2/3 bg-black text-white text-center text-3xl rounded-lg border-green-500 border-2">
                        <i class="fa-solid fa-user  pt-2 text-green-500 text-4xl"></i>
                        <h2 class="pt-4 text-4xl font-bold">50+</h2>
                        <p class="pt-4 text-xl">Happy Client</p>
                    </div>
                    <div class="icon1 w-72 h-2/3 bg-black text-white text-center text-3xl rounded-lg border-green-500 border-2">
                        <i class="fa-solid fa-clock pt-2 text-green-500 text-4xl"></i>
                        <h2 class="pt-4 text-4xl font-bold">50+</h2>
                        <p class="pt-4 text-xl">Years Experience</p>
                    </div>
                </div>
            </div>

            



            <footer>
             <div>
                <div class="footer h-[12rem] w-full bg-slate-800  flex items-center ">
                    <div class="helper-section text-white w-1/2 text-1xl ml-10 flex justify-between">
                        <div class="locate mt-5">
                            <h2 class="">Logo</h2>
                            <h2 class="ml-1"><i class="fa-solid fa-earth-americas mr-4"></i>india/English</h2>
                            <h2><i class="fa-solid fa-circle-info ml-1 mr-4"></i>Help and Support</h2>
                            <h2><i class="fa-solid fa-person ml-2 mr-4"></i>Accessibility</h2>
                        </div>
                    </div>
                    <div class="social-icons w-1/2 flex justify-center text-2xl text-white">
                        <div class="social-media ml-4">
                            <h2 class="mb-4">Apps</h2>
                            <img src="images/app-store.svg" alt="app store">
                            <img src="images/google-play.svg" alt="Google store" class="mt-4">
                        </div>
                    </div>
                </div>
                <div class="trademark bg-slate-800 text-[12px] text-white text-center">
                    <p class="w-3/4 m-auto">Freelancer ® is a registered Trademark of Freelancer Technology Pty Limited
                        (ACN 142 189 759) & Freelancer Online India Private Limited (CIN U93000HR2011FTC043854)
                        Copyright © 2025 Freelancer Technology Pty Limited (ACN 142 189 759)</p>
                </div>
            </div>
            </footer>
        </div>
    </nav>
    <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>